[submodule "System/libasm"]
	path = System/libasm
	url = git@github.com:MoustikBe/libasm.git
[submodule "AI/ft_linear_regression"]
	path = AI/ft_linear_regression
	url = git@github.com:Max-I-C/ft_linear_regression
[submodule "AI/learn2slither"]
	path = AI/learn2slither
	url = git@github.com:Max-I-C/learn2slither
[submodule "System/Malloc"]
	path = System/Malloc
	url = git@github.com:Max-I-C/Malloc.git
